body{
	background-color: black;
	margin: 0em;
	color: navy;
	/*font-weight: bold;*/
	font-family: Helvetica;
	font-style: italic;

}


/* 1 em = 16 px */
/* MEDIA QUERIES */
/* tablet */
@media screen and (min-width: 600px){
.p1{
/*		margin-top: 0em;*/
		text-align: right;
		margin-right: 4%;
		font-size: 2.5em;
		font-weight: bold;
		height: 1.5em;
		margin-bottom: 0.7em;
	}


	.div1{
/*	display: inline-block;*/
		font-size: 0.85em;
		font-weight: bold;
		text-align: right;
		float: left;
		margin-left: 4%;
		height: auto;
		width: 24%;

	}

	#a{
		color: white;
	}

	img{
		width: 100%;
		height: auto;
	}

	.p2{
		float: right;
		text-align: center;
		color: white;
		background-color: navy;
		padding: 5%;

		margin-bottom: 2%;
		margin-right: 4%;
		height: auto;
		width: 56%;
	}

	.p3{
		float: right;
		text-align: center;
		background-color: white;

		margin-right: 4%;
		width: 66%;
	}

	#p3{
        font-weight: bold;
        background-color: orange;
	}

}

/* desktop */
@media screen and (min-width: 1050px) {
	.p1{
/*		margin-top: 0em;*/
		text-align: right;
		margin-right: 6%;
		font-size: 2.5em;
		font-weight: bold;
		height: 1.5em;
		margin-bottom: 0.7em;
	}


	.div1{
/*	display: inline-block;*/
		font-size: 1em;
		font-weight: bold;
		text-align: right;
		float: left;
		margin-left: 6%;
		height: auto;
		width: 20%;

	}

	#a{
		color: white;
	}

	img{
		width: 100%;
		height: auto;
	}

	.p2{
		float: right;
		text-align: center;
		color: white;
		background-color: navy;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 3%;
		padding-top: 3%;

		margin-bottom: 2%;
		margin-right: 6%;
		height: auto;
		width: 56%;
	}

	.p3{
		float: right;
		text-align: center;
		background-color: white;

		margin-right: 6%;
		width: 66%;
	}

	#p3{
        font-weight: bold;
        background-color: orange;
	}

}




/* FOR MOBILE DEVICES*/
/* Source for different devices http://cssmediaqueries.com/target/ */
@media screen and (max-width: 600px) and (orientation: portrait){
	.p1{
		text-align: right;
		margin-right: 4%;
		font-size: 2.5em;
		font-weight: bold;
		height: 1em;
		margin-bottom: 0.7em;
		margin-top: -0.7em;
	}


	.div1{
/*	display: inline-block;*/
		font-size: 1em;
		font-weight: bold;
		text-align: right;
		margin-left: 4%;
		width: 92%;	
	/*	margin-bottom: 7%;*/

	}

	#a{
		width: 30%;
		font-size: 0.8em;
		text-align: center;
		color: white;
		float: left;
	}

	img{
		float: left;
		width: 100%;
		height: auto;
		margin-bottom: 8%;

	}

	.p2{
		
		text-align: center;
		color: white;
		background-color: navy;
		padding: 5%;
		margin-left: 4%;
		margin-right: 4%;
		margin-bottom: 2%;
	}

	.p3{
		background-color: white;	
		text-align: center;
		color: navy;

		padding: 0.6%;
		margin-left: 4%;
		margin-right: 4%;
		margin-bottom: 4%;
	}

	#p3{
		background-color: orange;
				font-weight: bold;
				margin-bottom: 0%;
	}	

}

